@using HelpingHandsWeb.Models.ViewModels.AdminViewModels
@model CityViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" href="~/assets/img/favicon.ico">
    <title>nurses</title>
    <link rel="stylesheet" type="text/css" href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/select2.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/style2.css">
    <!--[if lt IE 9]>
    <script src="assets/js/html5shiv.min.js"></script>
    <script src="assets/js/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <div class="main-wrapper">
        <div class="header">
            <div class="header-left">
                <a href="@Url.Action("Index", "Home")" class="logo">
                    <img src="~/images/logo2.webp" width="35" height="35" alt="">
                    <span>Helping Hands</span>
                </a>
            </div>
            <a id="toggle_btn" href="javascript:void(0);">
                <i class="fa fa-bars"></i>
            </a>
            <a id="mobile_btn" class="mobile_btn float-left" href="#sidebar">
                <i class="fa fa-bars"></i>
            </a>
            <ul class="nav user-menu float-right">
                <li class="nav-item dropdown d-none d-sm-block">
                    <a href="javascript:void(0);" id="open_msg_box" class="hasnotifications nav-link">
                        <i class="fa fa-comment-o"></i>
                        <span class="badge badge-pill bg-danger float-right">8</span>
                    </a>
                </li>
                <li class="nav-item dropdown has-arrow">
                    <a href="#" class="dropdown-toggle nav-link user-link" data-toggle="dropdown">
                        <span class="user-img">
                            <img class="rounded-circle" src="~/assets/img/user.jpg" width="24" alt="Admin">
                            <span class="status online"></span>
                        </span>
                        <span>Admin</span>
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="@Url.Action("Profile", "Admin")">My Profile</a>
                        <a class="dropdown-item" href="@Url.Action("EditProfile", "Admin")">Edit Profile</a>
                        <a class="dropdown-item" href="@Url.Action("ChangePassword", "Admin")">Change Password</a>
                        <a class="dropdown-item" href="@Url.Action("Logout", "Admin")">Logout</a>
                    </div>
                </li>
            </ul>
            
        </div>
        <div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
                <div id="sidebar-menu" class="sidebar-menu">
                    <ul class="horizontal-menu">
                        <li class="menu-title">Admin Dashboard</li>
                        <li><a href="@Url.Action("AdminDashboard", "Admin")"><i class="fa fa-dashboard"></i><span>Dashboard</span></a></li>
                        <li><a href="@Url.Action("Nurses", "Admin")"><i class="fa fa-user-md"></i><span>Nurses</span></a></li>
                        <li><a href="@Url.Action("Patients", "Admin")"><i class="fa fa-wheelchair"></i><span>Patients</span></a></li>
                        <li><a href="@Url.Action("OfficeManagers", "Admin")"><i class="fa fa-hospital-o"></i><span>Office Managers</span></a></li>
                        <li><a href="@Url.Action("Conditions", "Admin")"><i class="fa fa-hospital-o"></i><span>Chronic Conditions</span></a></li>
                        <li><a href="@Url.Action("Cities", "Admin")"><i class="fa fa-hospital-o"></i><span>Cities</span></a></li>
                        <li><a href="@Url.Action("Suburbs", "Admin")"><i class="fa fa-hospital-o"></i><span>Suburbs</span></a></li>

                    </ul>
                </div>
            </div>
        </div>

        <div class="page-wrapper">
            <div class="content">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <h4 class="page-title">Add City</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <form asp-action="AddCity" method="post">
                            <div class="form-group">
                                <label asp-for="Name">City Name</label>
                                <input asp-for="Name" class="form-control" type="text">
                            </div>
                            <div class="form-group">
                                <label asp-for="Abbreviation">City Abbreviation</label>
                                <textarea asp-for="Abbreviation" cols="30" rows="4" class="form-control"></textarea>
                            </div>
                            <div class="m-t-20 text-center">
                                <button type="submit" class="btn btn-primary submit-btn">Create City</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="sidebar-overlay" data-reff=""></div>
    <script src="~/assets/js/jquery-3.2.1.min.js"></script>
    <script src="~/assets/js/popper.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/jquery.slimscroll.js"></script>
    <script src="~/assets/js/select2.min.js"></script>
    <script src="~/assets/js/moment.min.js"></script>
    <script src="~/assets/js/bootstrap-datetimepicker.min.js"></script>
    <script src="~/assets/js/app.js"></script>
</body>
</html>
