@using HelpingHandsWeb.Models.ViewModels.AdminViewModels

@model AdminIndexViewModel
@{
    ViewData["Title"] = "AdminDashboard";
}
@{
    Layout = null;
}

@functions {
    string GetStatusLabel(string status)
    {
        return status == "A" ? "Active" : "Inactive";
    }

    string GetRandomButtonClass()
    {
        var random = new Random();
        var classes = new[]
        {
            "btn btn-primary btn-primary-one float-right",
            "btn btn-primary btn-primary-two float-right",
            "btn btn-primary btn-primary-three float-right",
            "btn btn-primary btn-primary-four float-right"

    };

        return classes[random.Next(classes.Length)];
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" href="~/assets/img/favicon.ico">
    <title>Helping Hands</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/style2.css">
    <!--[if lt IE 9]>
    <script src="~/assets/js/html5shiv.min.js"></script>
    <script src="~/assets/js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    @await Html.PartialAsync("_AdminPartial", ViewData)

    <div class="page-wrapper">
        <div class="content">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                    <a href="@Url.Action("Nurses", "Admin")" class="dashboard-link">
                        <div class="dash-widget">
                            <span class="dash-widget-bg1">
                                <i class="fa fa-stethoscope" aria-hidden="true"></i>
                            </span>
                            <div class="dash-widget-info text-right">
                                <h3>@Model.TotalNurses</h3>
                                <span class="widget-title1">Nurses <i class="fa fa-check" aria-hidden="true"></i></span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                    <a href="@Url.Action("Patients", "Admin")" class="dashboard-link">
                        <div class="dash-widget">
                            <span class="dash-widget-bg2">
                                <i class="fa fa-wheelchair"></i>
                            </span>
                            <div class="dash-widget-info text-right">
                                <h3>@Model.TotalPatients</h3>
                                <span class="widget-title2">Patients <i class="fa fa-check" aria-hidden="true"></i></span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                    <a href="@Url.Action("OfficeManagers", "Admin")" class="dashboard-link">
                        <div class="dash-widget">
                            <span class="dash-widget-bg2">
                                <i class="fa fa-user-o"></i>
                            </span>
                            <div class="dash-widget-info text-right">
                                <h3>@Model.TotalOfficeManagers</h3>
                                <span class="widget-title2">Office Managers <i class="fa fa-check" aria-hidden="true"></i></span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                    <a href="@Url.Action("Conditions", "Admin")" class="dashboard-link">
                        <div class="dash-widget">
                            <span class="dash-widget-bg4">
                                <i class="fa fa-heartbeat" aria-hidden="true"></i>
                            </span>
                            <div class="dash-widget-info text-right">
                                <h3>@Model.TotalChronicConditions</h3>
                                <span class="widget-title4">Chronic Conditions <i class="fa fa-check" aria-hidden="true"></i></span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-md-6 col-lg-8 col-xl-8">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title d-inline-block">New Patients </h4>
                            <a href="@Url.Action("Patients", "Admin")" class="btn btn-primary float-right">View all</a>
                        </div>
                        <div class="card-block">
                            <div class="table-responsive">
                                <table class="table mb-0 new-patient-table">
                                    <tbody>
                                        @foreach (var patient in Model.Patients.Take(6))
                                        {
                                            <tr>
                                                <td>
                                                    <div>
                                                        @if (patient.ProfilePicture != null)
                                                        {
                                                            <img width="28" height="28" class="rounded-circle" src="data:image/jpeg;base64,@Convert.ToBase64String(patient.ProfilePicture)" alt="">
                                                        }
                                                        else
                                                        {
                                                            <img width="28" height="28" class="rounded-circle" src="~/assets/img/user.jpg" alt="">
                                                        }
                                                        <h2>@patient.FirstName</h2>
                                                    </div>
                                                </td>
                                                <td>@patient.Surname</td>
                                                <td>@patient.UserName</td>
                                                <td>@patient.Email</td>
                                                <td>@(patient.Gender == "M" ? "Male" : "Female")</td>
                                                <td>
                                                    <button class="@GetRandomButtonClass()">@GetStatusLabel(patient.Status)</button>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 col-xl-4">
                    <div class="card member-panel">
                        <div class="card-header bg-white">
                            <h4 class="card-title mb-0">Nurses</h4>
                        </div>
                        <div class="card-body">
                            <ul class="contact-list">
                                @foreach (var nurse in Model.Nurses.Take(7))
                                {
                                    <li>
                                        <div class="contact-cont">
                                            <div class="float-left user-img m-r-10">
                                                @if (nurse.ProfilePicture != null)
                                                {
                                                    <img src="data:image/jpeg;base64,@Convert.ToBase64String(nurse.ProfilePicture)" alt="" class="w-40 rounded-circle">
                                                }
                                                else
                                                {
                                                    <img src="~/assets/img/user.jpg" alt="" class="w-40 rounded-circle">
                                                }
                                            </div>
                                            <div class="contact-info">
                                                <span class="contact-name text-ellipsis">@nurse.FirstName     @nurse.Surname</span>
                                                <span class="contact-date">@((nurse.Gender == "M") ? "Male" : "Female")</span>
                                            </div>
                                        </div>
                                    </li>
                                }

                            </ul>
                        </div>
                        <div class="card-footer text-center bg-white">
                            <a href="@Url.Action("Nurses", "Admin")" class="text-muted">View all Nurses</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="sidebar-overlay" data-reff=""></div>
    <script src="~/assets/js/jquery-3.2.1.min.js"></script>
    <script src="~/assets/js/popper.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/jquery.slimscroll.js"></script>
    <script src="~/assets/js/Chart.bundle.js"></script>
    <script src="~/assets/js/chart.js"></script>
    <script src="~/assets/js/app.js"></script>
</body>
</html>


