@model HelpingHandsWeb.Models.ViewModels.PatientViewModels.PatientProfileViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" href="~/assets/img/favicon.ico">
    <title>Helping Hands</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/style2.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/select2.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/bootstrap-datetimepicker.min.css">
    <!--[if lt IE 9]>
		<script src="~/assets/js/.html5shiv.min.js"></script>
		<script src="~/assets/js/respond.min.js"></script>
	<![endif]-->
</head>

<body>
    @await Html.PartialAsync("_PatientPartial", ViewData)
    <div class="page-wrapper">

        <div class="content">
            <div class="row">
                <div class="col-sm-12">
                    <h4 class="page-title">Edit Profile</h4>
                </div>
            </div>
            <form method="post" action="EditProfile">
                <div class="card-box">
                    <h3 class="card-title">Basic Informations</h3>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="profile-img-wrap">
                                @if (Model.ProfilePicture != null)
                                {
                                    <img class="inline-block" src="data:image;base64,@Convert.ToBase64String(Model.ProfilePicture)" alt="user">
                                }
                                else
                                {
                                    <img class="inline-block" src="~/assets/img/user.jpg" alt="user">
                                }
                                <div class="fileupload btn">
                                    <span class="btn-text">edit</span>
                                    <input class="upload" type="file">
                                </div>
                            </div>

                            <div class="profile-basic">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group form-focus">
                                            <label class="focus-label">First Name</label>
                                            <input type="text" class="form-control floating" name="FirstName" value="@Model.FirstName">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group form-focus">
                                            <label class="focus-label">Last Name</label>
                                            <input type="text" class="form-control floating" name="Surname" value="@Model.Surname">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group form-focus">
                                            <label class="focus-label">Date Of Birth</label>
                                            <div class="cal-icon">
                                                <input class="form-control floating datetimepicker" type="text" name="DateOfBirth" value="@Model.DateOfBirth.ToShortDateString()">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group form-focus select-focus">
                                            <label class="focus-label">Gender</label>
                                            <select class="select form-control floating" name="Gender">
                                                <option value="Male" selected="@Model.Gender == " Male"">Male</option>
                                                <option value="Female" selected="@Model.Gender == " Female"">Female</option>
                                            </select>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-box">
                    <h3 class="card-title">Emergency Contact Informations</h3>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group form-focus">
                                <label class="focus-label">Emergency Person</label>
                                <input type="text" class="form-control floating" name="EmergencyPerson" value="@Model.EmergencyPerson">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-focus">
                                <label class="focus-label"> Emergency Contact Number</label>
                                <input type="text" class="form-control floating" name="EmergencyContactNo" value="@Model.EmergencyContactNo">
                            </div>
                        </div>
                    </div>
                </div>
               c

                <div class="text-center m-t-20">
                    <button class="btn btn-primary submit-btn" type="submit">Save</button>
                </div>
            </form>
        </div>

    </div>
    <div class="sidebar-overlay" data-reff=""></div>
    <script src="~/assets/js/jquery-3.2.1.min.js"></script>
    <script src="~/assets/js/popper.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/jquery.slimscroll.js"></script>
    <script src="~/assets/js/select2.min.js"></script>
    <script src="~/assets/js/moment.min.js"></script>
    <script src="~/assets/js/bootstrap-datetimepicker.min.js"></script>
    <script src="~/assets/js/app.js"></script>
</body>

</html>
