@using HelpingHandsWeb.Models.ViewModels.PatientViewModels


@model PatientIndexViewModel
@{
    ViewData["Title"] = "PatientDashboard";

}
@{
    Layout = null;
}
<!DOCTYPE .html>
<.html lang="en">


<!-- index22:59-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" href="~/assets/img/favicon.ico">
    <title>Helping Hands</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/style2.css">
    <!--[if lt IE 9]>
		<script src="~/assets/js/.html5shiv.min.js"></script>
		<script src="~/assets/js/respond.min.js"></script>
	<![endif]-->
</head>

<body>
        @await Html.PartialAsync("_PatientPartial", ViewData)
     <div class="page-wrapper">
                <div class="content">
                    <div class="row mb-3">
                        <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                            <a href="@Url.Action("CareContracts", "Patient")" class="dashboard-link">
                                <div class="dash-widget" style="margin-bottom: 15px; padding: 15px;">
                                    <span class="dash-widget-bg1">
                                        <i class="fa fa-file-contract" aria-hidden="true"></i>
                                    </span>
                                    <div class="dash-widget-info text-right">
                                        <h3>@Model.TotalCareContracts</h3>
                                        <span class="widget-title1">View Your Care Contracts Here <i class="fa fa-check" aria-hidden="true"></i></span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                            <a href="@Url.Action("CareVisits", "Patient")" class="dashboard-link">
                                <div class="dash-widget" style="margin-bottom: 15px; padding: 15px;">
                                    <span class="dash-widget-bg2">
                                        <i class="fa fa-hospital-user"></i>
                                    </span>
                                    <div class="dash-widget-info text-right">
                                        <h3>@Model.TotalCareVisits</h3>
                                        <span class="widget-title2">View Your Care Visits Here <i class="fa fa-check" aria-hidden="true"></i></span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-8 col-xl-8">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title d-inline-block">Upcoming Appointments</h4>
                                    <a asp-action="PatientsAppointments" class="btn btn-primary float-right">View all</a>
                                </div>
                                <div class="card-body p-0">
                                    <div class="table-responsive">
                                        <table class="table mb-0">
                                            <thead class="d-none">
                                                <tr>
                                                    <th>Appointment Title</th>
                                                    <th>Nurse Name</th>
                                                    <th>Time</th>
                                                    <th>Appointment Date</th>
                                                    <th class="text-right">Status</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var appointment in Model.Appointments)
                                                {
                                                    <tr>
                                                        <td>
                                                            <h5 class="time-title p-0">Appointment For</h5>
                                                            <p>@appointment.Title</p>
                                                        </td>
                                                        <td>
                                                            <h5 class="time-title p-0">Appointment With Nurse</h5>
                                                            <p>@appointment.NurseName</p>
                                                        </td>
                                                        <td>
                                                            <h5 class="time-title p-0">Time</h5>
                                                            <p>@appointment.Time</p>
                                                        </td>
                                                        <td>
                                                            <h5 class="time-title p-0">Appointment Date</h5>
                                                            <p>@appointment.AppointmentDate.ToString("dd MMMM yyyy")</p>
                                                        </td>
                                                        <td class="text-right">
                                                            <a asp-action="ViewAppointment" asp-route-appointmentId="@appointment.AppointmentID" class="btn btn-outline-primary take-btn">View Appointment</a>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-6 col-lg-4 col-xl-4">
                            <div class="card member-panel">
                                <div class="card-header bg-white">
                                    <h4 class="card-title mb-0">My Chronic Conditions</h4>
                                </div>
                                <div class="card-body">
                                    <ul class="contact-list">
                                        @foreach (var condition in Model.PatientConditions)
                                        {
                                            <li>
                                                <div class="contact-cont">
                                                    <div class="float-left user-img m-r-10">
                                                        <i class="fa fa-heartbeat" aria-hidden="true"></i>
                                                    </div>
                                                    <div class="contact-info">
                                                        <span class="contact-name text-ellipsis">@condition.ConditionName</span>
                                                    </div>
                                                </div>
                                            </li>
                                        }
                                    </ul>
                                </div>
                                <div class="card-footer text-center bg-white">
                                    <a asp-action="PatientsConditions" class="text-muted">View all Conditions</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



    
    <div class="sidebar-overlay" data-reff=""></div>
    <script src="~/assets/js/jquery-3.2.1.min.js"></script>
	<script src="~/assets/js/popper.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/jquery.slimscroll.js"></script>
    <script src="~/assets/js/Chart.bundle.js"></script>
    <script src="~/assets/js/chart.js"></script>
    <script src="~/assets/js/app.js"></script>

</body>


<!-- index22:59-->
</.html>
